.browse-movie-wrap {
	position: relative;
}
.web-to-plex-button {
	position: absolute;
	right: 32px;
	top: 5px;
	/* width: 30px;
	height: 30px; */
	padding: 5px;
	z-index: 9999999;
	background: #000;
	color: #e5a00d;
	border-bottom-left-radius: 4px;
	transition: color .3s;
}
.web-to-plex-button:hover {
	color: #f9be03;
}
.web-to-plex-button:hover svg path {
	fill: #f9be03;
}
#popular-downloads .web-to-plex-button {
    right: 42px;
    top: 5px;
}
.web-to-plex-button svg {
	width: 20px;
	display: block;
}
.web-to-plex-button svg path {
	fill: #e5a00d;
	transition: fill .3s;
}
